* {
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}
.box-topo{
    color: #fff;
    background-color: #CF2B2B;
    height: 92px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 21px;
    font-size: 18px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.logo{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    margin: 2px 0px;
    letter-spacing: -0.6px;
}
/* 123px = .box-topo 92px + 31px fixo */
/* 108px = .box-pedir 92px + 16px fixo */
.box-conteudo{
    margin: 123px 0px 108px 19px;
}
.categoria{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-bottom: 16px;
}
.opcoes{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 27px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: rgb(180, 159, 236); 
}
.opcoes::-webkit-scrollbar {
    display: none;
}
.item{
    width: 172px;
    display: flex;
    flex-direction: column;
    height: auto;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    padding: 18px 14px 13px;
    margin-right: 16px;
}
.item img{
    width: 144px;
    height: 87px;
    background-color: red;
    border-radius: 4px;
}
.box-pedir{
    position: fixed;
    bottom: 0;
    height: 92px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -4px 4px rgba(0,0,0,.10);
}